.poster{
  height: 350px;
  background-color: black;
  width: 100%;
  color: aliceblue;
  text-align: center;
  /* padding-top: 50px; */
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.posterh1>h1{
font-size:60px;
margin: 0;
}
.posterpara>p{
  font-size: 21px;
  margin: 3px
  ;
}
img{
  object-fit:cover;
  
}
.cards{
  display: flex;
  justify-content:flex-start;
  gap: "700px";
  flex-wrap: wrap;
  margin-left: 75px;
}
.cardimg{
  margin: 25px;
}

.header>Button{
border-style: none; 
  border-radius: 0;
  max-height: min-content;
  background-color: black;
  
 
}
a{
  text-decoration: none;
  color: black;
}
.cart_btn{
  text-align: center;
  padding-bottom: 10px;
}

.cart_btn>button:hover{
background-color: green;
color: white;
}
.Aboutlines>h3{
  color: black;
}
.Aboutlines{
  margin: 90px 20px;
  text-align: center;
}
.shoph3>h3{
  text-align: center;
margin: 90px 25px;
}

.shoph3>h3>Button{
 background-color: blue;
 margin-top: 40px;
  color: black;
}
.header>Button>a{
  font-size: larger;
}
.header>Button>a:hover{
  color: green;
}